body {
  background-image: url('bg.jpg');
  background-size:auto;
  background-position: top left;
  background-repeat: repeat;
  margin: 0;
  overflow-x: hidden;
  
}

html {
  scroll-behavior: smooth;
}

.hero {
  display: flex;
  justify-content: center; /* Horizontally center the logo */
  align-items: center; /* Vertically center the logo */
  height: 100vh; /* Make the hero section take up the entire viewport height */
  background-color: #f0f0f0; /* Background color */
  position: relative;
}

@keyframes smooth-glow3 {
  0% {
    opacity: 0.8;
    filter: blur(0.5px); /* Apply blur to the image */
    text-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 15px yellow; /* Yellow glow for text */
  }
  50% {
    opacity: 1;
    filter: blur(1px); /* Stronger blur effect */
    text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow; /* Stronger yellow glow */
  }
  100% {
    opacity: 0.8;
    filter: blur(0.5px); /* Return to initial blur */
    text-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 15px yellow; /* Return to initial yellow glow */
  }
}

.hero-logo {
  max-width: 80%; /* Ensure the logo scales within the hero section */
  height: auto; /* Maintain aspect ratio */
  animation: smooth-glow3 2s infinite;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  position: relative; /* Allows additional positioning tweaks */
  top: -150px; /* Adjust this to position it vertically */
  left: 0; /* Adjust this to position it horizontally */
}



header {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  padding: 10px 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
  align-items: center;
  width: 70%;
  height: 70px;
  padding: 0 10px;
  margin: 20px auto;
  transition: background-color 0.3s, transform 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  border: 2px solid rgb(212, 236, 134);
  border-radius: 50px;
  box-sizing: border-box;
}

.nav-links {
  font-family: "Montserrat", sans-serif;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s;
}

.nav-links a:hover {
  transform: scale(1.2);
  color: coral;
}

.auth-links a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  transition: transform 0.3s, color 0.3s;
}

.auth-links a:hover {
  transform: scale(1.2);
  color: coral;
}

.hero-section {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: white;
}

.hero-content {
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@keyframes smooth-glow {
  0% {
    opacity: 0.8;
    text-shadow: 0 0 5px yellow;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 10px yellow;
  }
  100% {
    opacity: 0.8;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
}

@keyframes smooth-glow2 {
  0% {
    opacity: 0.8;
    text-shadow: 0 0 5px rgb(255, 255, 255);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 10px rgb(255, 255, 255);
  }
  100% {
    opacity: 0.8;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
}

.hero-content h1 {
  font-family: "Arizonia", serif;
  font-style: normal;
  color: yellow;
  font-size: 15em; /* Increase the font size to a larger value */
  animation: smooth-glow 5s infinite;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
}



.hero-content h2 {
  
  color: white;
  margin-top: -100px;
  font-size: 2.6em;
  text-align: center;
}

#countdown-timer {
  font-size: 5em;
  color: rgb(255, 255, 255);
  border: 3px solid;
  border-radius: 20px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  cursor: pointer;
  box-sizing: border-box;
  padding: 20px;
  animation: smooth-glow 1s infinite;
  -webkit-text-stroke: 0.1px rgb(0, 0, 0);
  
  /* Adding the background image */
  background-image: url('');
  background-size: contain;        /* Ensures the image covers the entire box */
  background-position: center;    /* Centers the image */
  background-repeat: repeat;   /* Prevents the image from repeating */
}


.hero-content .btn {
  margin-top: 30px;
  padding: 20px 40px;
  font-size: 2.2em;
  background-color: rgba(127, 125, 64, 0.915);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 8px 20px rgb(0, 0, 0);
}

.hero-content .btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

@keyframes rotateImage {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotating-image {
  position: absolute;
  top: 1120px;
  right: -130px;
  width: 320px;
  height: 340px;
  animation: rotateImage 400s linear infinite;
  border-radius: 50%;
  z-index: 10;
}

.rotating-image2{
  position: absolute;
  bottom: -1880px;
  right: -130px;
  width: 420px;
  height: 440px;
  animation: rotateImage 400s linear infinite;
  border-radius: 50%;
  z-index: 10;
}

.rotating-image.bottom-left {
  top: auto;
  width: 750px;
  height: 750px;
  bottom: -350px;
  right: auto;
  left: -190px;
}

.rotating-image.bottom-left2 {
  top: auto;
  width: 370px;
  height: 370px;
  bottom: -1130px;
  right: auto;
  left: -100px;
}


.event-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: white;
  background-color: transparent;
}

.event-section h1, h2 {
  font-family: "Cedarville Cursive", cursive;
  font-size: 4em;
  text-align: center;
  color: rgb(255, 255, 255);
  animation: smooth-glow 5s infinite;
  transition: opacity 0.5s ease-in-out;
}

.event-section p {
  font-family: "Arizonia", serif;
  font-size: 1em;
  margin-bottom: 20px;
}

.events-container {
  display: flex;
  padding: 20px;
  scroll-snap-type: x mandatory;
  overflow-x: auto; /* Enable horizontal scroll */
  position: relative;
  gap: 20px; /* Space between cards */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.events-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.events-container .event {
  scroll-snap-align: center;
  width: 33.33%; /* Adjusted for 3 cards in the slider */
  flex-shrink: 0; /* Prevent the event items from shrinking */
  background-color: rgba(36, 36, 36, 0.8);
  color: white;
  border: 2px solid;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
  display: inline-block;
  font-size: larger;
  border-style: none;
  background-size: cover;  /* Ensures the background image covers the entire box */
  background-position: center;  /* Centers the image within the box */
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}

.events-container .event:hover {
  transform: scale(1.10);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.events-container .event .event-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
}

.events-container .event:hover .event-details {
  opacity: 1;
}

.events-slider {
  position: relative;
  width: 100%;
  overflow: hidden; /* Keeps the slider content within bounds */
}

.arrow-btn {
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: solid white;  /* White border */
  padding: 5px;  /* Smaller size for better fit */
  color: rgb(255, 254, 254);
  font-size: 1.1em;  /* Slightly smaller font size */
  border-radius: 10%;  /* Round shape */
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.arrow-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);  /* Darker background on hover */
  transform: translateY(-50%) scale(1.1);  /* Slight zoom effect on hover */
}

.arrow-btn.left {
  left: 5px;  /* Space from the left side */
}

.arrow-btn.right {
  right: 5px;  /* Space from the right side */
}

.btn1 {
  font-family: "Bebas Neue", sans-serif;
  padding: 10px 20px;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  background-color: #591617;
  border: 2px solid #591617;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
  outline: none;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.btn1:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}



.about-section {
  display: flex;
  font-family: "Cedarville Cursive", cursive;
  font-weight: 300;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-size: 1em;
  text-align: center;
  color: white;
  background-color: transparent;
}

.about-section h2 {
  font-size: 5rem;
  color: rgb(255, 255, 255);
  animation: smooth-glow 5s infinite;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
}

.about-section p {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  text-align: center;
}

.about-section #p2 {
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
}

/*second*/

.about-section1 {
  display: flex;
  font-family: "Cedarville Cursive", cursive;
  font-weight: 300;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-size: 1em;
  text-align: center;
  color: white;
  background-color: transparent;
  padding-bottom: 30px;
}

.about-section1 h2 {
  font-size: 5rem;
  color: rgb(255, 255, 255);
  animation: smooth-glow 5s infinite;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
}

.about-section1 p {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  text-align: center;
}

.about-section1 #p2 {
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
}
/* Media Queries */

/* Mobile Devices */
@media screen and (max-width: 767px) {
  nav {
    font-size: 1rem;
    width: 100%;
  }

  .hero-content h1 {
    font-size: 5em;
  }

  .hero-content h2 {
    font-size: 1.8em;
  }

  #countdown-timer {
    font-size: 3.5em;
  }

  .event {
    width: 90%;
    height: 250px;
    font-size: 1.2rem;
  }

  .events-container {
    flex-direction: column;
    align-items: center;
  }

  .events-container .event {
    width: 90%;
  }

  .arrow-btn {
    font-size: 1em;
    padding: 5px;
  }

  .about-section h2 {
    font-size: 3.5rem;
  }

  .about-section p {
    font-size: 1.1rem;
  }
}

/* Tablet Devices */
@media screen and (max-width: 1023px) {
  nav {
    font-size: 1.8rem;
    width: 80%;
  }

  .hero-content h1 {
    font-size: 7em;
  }

  .hero-content h2 {
    font-size: 2.2em;
  }

  .event {
    width: 45%;
  }

  .events-container {
    gap: 15px;
  }

  .about-section h2 {
    font-size: 4.5rem;
  }

  .about-section p {
    font-size: 1.2rem;
  }
}

/* Desktop Devices */
@media screen and (min-width: 1024px) {
  nav {
    font-size: 2.2rem;
  }

  .hero-content h1 {
    font-size: 9em;
  }

  .hero-content h2 {
    font-size: 2.6em;
  }

  .event {
    width: 30%;
    height: 300px;
  }

  .about-section h2 {
    font-size: 5rem;
  }

  .about-section p {
    font-size: 1.3rem;
  }
}

.a1 {
  color: yellow;
  text-decoration: none; /* Optional: Removes underline */
}

.a1:hover {
  color: lightgray; /* Optional: Changes color on hover */
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 160vh;
  padding: 20px;
  box-sizing: border-box;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust column count as needed */
  grid-auto-rows: 120px; /* Default row height */
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  flex-grow: 1;
}

/* Photo styles with varying sizes */
.photo {
  border-radius: 10px;
  background-image: url('bg3.jpg');
  
}

.photo.small {
  grid-column: span 2;
  grid-row: span 3;
}

.photo.medium {
  grid-column: span 1;
  grid-row: span 2;
}

.photo.large {
  grid-column: span 1;
  grid-row: span 2;
}

.photo.tall {
  grid-column: span 2;
  grid-row: span 3;
}

.photo.wide {
  grid-column: span 2;
  grid-row: span 4;
}

.photo.wide2 {
  grid-column: span 2;
  grid-row: span 3;
}
